body {
    font-family: "Raleway", "Roboto" sant-serif;
    background-color: #fafafa;
    color: #111;
}
a {
    text-decoration: none;
}
ul, ol {
    list-style-type: none;
}
button {
  cursor: pointer;  
}

.logo {
    font-style: normal;

}

.logo:hover, 
.log:focus {
    color: rgb(243, 235, 237);
}
.logo-nav-text {
    color: aqua;
}

.address-nav-mail:hover, 
.address-nav:focus {
    color: rgb(243, 235, 237); 
}




